.form-group{
  margin-bottom: 20px;
}

.create-board {
    text-align: left;
    color: grey;
}
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
.pagination a.active {
    background-color: rgb(37, 131, 232);
    color: white;
    border: 1px solid rgb(37, 131, 232);
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}

.date {
    /* text-align: end; */
    float: right;
    color: darkgray;
}

.userId {
    float: left;
    color: darkgray;
}

.content {
    margin-top: 70px;
    margin-bottom: 70px;
}

.label-file {
    color: black;
    font-weight: bold;
    padding: 8px;
  }
 
.ListBoard-tbody {
  line-height: 30px;
}